/* .active{
    border-radius: 50px;
    padding: 8px 25px;
    background: #f4f2ed;
    margin-left: 12px;
    color: #372727;
    font-weight: 600;
} */
.two{
    color: #c19942;
    font-size: 30px ;
    font-family: 'Quicksand', sans-serif;
    font-weight: 900;
    font-family: 'Quicksand', sans-serif;
}
.hr{
    margin-top: 0px !important;
}
.text h2{
    font-size: 47px;
    font-weight: 700;
    line-height: normal;
   word-spacing: 5px;   
   
}
.paraqraf p{
    color: #959393;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 15px;
    line-height: 24px;
    text-align: justify;
}
.text h6{
    font-size: 17px;
    color: #959393;
}

.img{
    width: 100%;
    column-count: 2;
    padding: 5px;
    margin: auto;
    text-align: right;
}

.image{
    display: inline-block;
    margin-bottom: 10px;
    overflow: hidden;
    width: 285px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    /* box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px; */
    border-radius: 8px;
}

.image img{
    width: 100%; 
}

.image:hover{
    transition: 0.25s ease-in-out;
    transform: scale(1.1);
}

/* .AboutImg1 {
    background-image: url(../images/img1.jpg);
}
.AboutImg2 {
    background-image: url(../images/img2.jpg);
}
.AboutImg3 {
    background-image: url(../images/img3.jpg);
}
.AboutImg4 {
    background-image: url(../images/img4.jpg);
} */

.submmit-btn{
    font-family: "Source Sans Pro",sans-serif;
    height: 50px;
    width: auto;
    background-color: #922A26;
    color: #ffffff;
    text-transform: uppercase;
    border: none;
    border-radius: 80px;
    padding: 0 30px;
    text-align: center;
    min-width: 200px;
    font-size: 16px;
    display: inline-block;
    line-height: 50px;
    font-weight: bold;  
}
#more {
    display: none;
}

@media screen and (max-width:1150px) {
    .image{
        max-width: 275px;
    }
}
@media screen and (max-width:1060px) {
    .image{
        width: 260px;
    }
}
 @media screen and (max-width:992px) {
 
.img{
    padding: 5px;
    width: 70%;
    margin: auto;
    text-align: center;
}
.image {
    width: 285px;
}
.paraqraf {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
    
} 
@media screen and (max-width:825px) {
    .img{
        width: 90%;
        margin: auto; 
        text-align: center;
    } 
    .image {
        width: 270px;
    }
} 

@media screen and (max-width:653px) {
    .img{
        column-count: 1; 
    }    
} 




