/* benefit section */
/* .card {
    height:55vh;
} */
.card-img-top {
    height: 180px;
}
.card {
    margin: auto;
}
.card-body {
    height: 200px;
}
/* button */
.button-wholesalers {
    /* width: 190px; */
    padding: 6px 13px;
    border-radius: 30px;
    font-size: 25px;
    font-weight: bold;
    background-color: #922A26;
    color: white;
    border: .5px solid lightgray;
    text-align: center;
   
}

.button-wholesalers:hover {
    cursor: pointer;
    transition: ease 1s;
  
     /* box-shadow  */
    -webkit-box-shadow: 0px 6px 11px 0px rgba(168, 165, 165, 0.75);
    -moz-box-shadow: 0px 6px 11px 0px rgba(168, 165, 165, 0.75);
    box-shadow: 0px 6px 11px 0px rgba(168, 165, 165, 0.75);
}

/* Scope of the "Miracle Cup"  */
.heading>h1 , .Benefit-header >h1{
font-weight: bold;
text-align: center;
}

.myImg  , .upperl {
    width: 100%;  
    height:300px;
    margin: auto;
    border-radius: 25px;
}
.myImg  {
    background-size: cover;
}
.myImg:hover {
    transform: scale(0.93);
    transition: 1s ease;
}

.upperl{
    background-color: hsla(0, 26%, 23%, 0.45);
    
    /* background-color: hsla(19, 36%, 9%, 0.63); */
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 10px 5px 25px 12px;
}
.upperl>h4{
    color: white;
    text-align: center;
    font-weight:600;
}
.biggerText{
    font-size:17px ;
}


.upperlBig {
    height:100%;
}
.myImg1{
    height:100%;
    background-image: url(../images/ВЫСТАВКИ.jpg);
}
.myImg2{
  
    background-image: url(../images/ФЕСТИВАЛИ.jpg);
    
}
.myImg3{
    
    background-image: url(../images/КЕЙТЕРИНГ.jpg);
    
}
.myImg4{
    background-image: url(../images/ФОРУМЫ.jpg);
    
}
.myImg5{
    background-image: url(../images/ОРГПИТАНИЯ.jpg);
    
}
.myImg6{
   background-image: url(../images/ГОСУЧЕРЕЖДЕНИЯ.jpg);
}

@media screen and (max-width:1107px){

    .upperl > h4 {
        font-size: 16px;
    }
    .biggerText {
        font-size: 14px;
    }
}
@media screen  and (max-width:991px){
    .myImg1 {
        height: 30vh;
    }

}
@media screen  and (max-width:768px){
    .myImg , .upperl {
        height: 30vh;
    }

}





