/* benefit section */








/* benefit grid */
.Benefit-header> h1 {
    text-align: center;
}
.Mcol1{
    background-color: rgb(250, 189, 250);
}
.Mcol2{
    background-color: rgb(226, 226, 89);
}
.Mcol3{
    background-color: rgb(228, 99, 99);
}
.Mcol4{
    background-color: green;
}
.Mcol5{
    background-color:  lightslategray  ;
}
.Mcol6{
    background-color: rgb(150, 80, 94);
}
.Mcol7{
    background-color: lightsteelblue;
}
.text { 
    padding: 20px;
    height: 250px;
    text-align: center;
    color: black;
    font-weight: 700;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content:start;
    flex-direction: column;
    /* clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%); */
}
.text:hover{
    box-shadow:  13px 14px 50px -12px rgb(171 171 171 / 90%);
}

.text>h3{
    /* color: #932a26;  */
    font-weight: bold;
    margin-bottom: 10px;
} 

/* .text{
    height: 250px;
    color: white;
    
    
    padding: 20px;
}
.text > h3 {
    font-weight: 900 !important;
    font-size: 35px;
} */

/* button */
.button-wholesalers {
    width: 400px;
    padding: 2px 0;
    border-radius: 5px;
    border: 3px solid #B89777;
    color: #932a26;
    font-size: 25px;
    font-weight: bold;
    background-color: transparent;
   
}

.button-wholesalers:hover {
    transition: ease 1s;
    background-color: #B89777;
    /* border-bottom: 1px solid #932a26; */
    font-weight: 800;
     /* box-shadow */
    -webkit-box-shadow: 0px 6px 11px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 0px 6px 11px 0px rgba(50, 50, 50, 0.75);
    box-shadow: 0px 6px 11px 0px rgba(50, 50, 50, 0.75);
}

/* button pop-up */

.keypage-backdrop{
    width: 50px;
    height: 50px;
}
.button-popup {
    display: none;
}

.button-popup, .keypage-backdrop {
    z-index: 2001;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.keypage-backdrop {
    width: 100vw;
    height: 100vh;
    background-color: rgba(4, 2, 16, .77);
}

.button-content {
    background: #000;
    z-index: 10000;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 560px;
    transform: translate(-50%, -50%);
    transform-origin: 0 0;
    border-radius: 15px;
    border: 1px solid transparent;
}
.button-content iframe {
    border-radius: 15px;
}

/* Scope of the "Miracle Cup"  */
.heading>h1{
font-weight: bold;
}

.myImg  , .upperl {
    width: 100%;  
    height:300px;
    border-radius: 25px;
}
.myImg  {
    background-size: cover;
}
.myImg:hover {
    transform: scale(0.93);
    transition: 1s ease;
}

.upperl{
    background-color: hsla(0, 26%, 23%, 0.45);
    
    /* background-color: hsla(19, 36%, 9%, 0.63); */
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 10px 5px 25px 12px;
}
.upperl>h4{
    color: white;
    text-align: center;
    font-weight:600;
}
.biggerText{
    font-size:17px ;
}


.upperlBig {
    height:100%;
}
.myImg1{
    height:100%;
    background-image: url(../images/ВЫСТАВКИ.jpg);
}
.myImg2{
  
    background-image: url(../images/ФЕСТИВАЛИ.jpg);
    
}
.myImg3{
    
    background-image: url(../images/КЕЙТЕРИНГ.jpg);
    
}
.myImg4{
    background-image: url(../images/ФОРУМЫ.jpg);
    
}
.myImg5{
    background-image: url(../images/ОРГПИТАНИЯ.jpg);
    
}
.myImg6{
   background-image: url(../images/ГОСУЧЕРЕЖДЕНИЯ.jpg);
}







