*{
    font-family: 'Lora', serif;
}
body {
    background-color: hsla(2, 100%, 1%, 0.84);
}

.main1 {
    height: 100vh;
    width: 100%;
}

.main {
    background-color: #fff;
    width: 50%;
    margin: auto;
    border-radius: 10px;
    padding: 15px;
}

.textclock {
    display: flex;
}

.textclock>.textclock-child>img {
    width: 30px;
    height: 30px;
}

.textclock>.textclock-child>p {
    font-size: 18px;
}

.textclock-child {
    height: 100%;
    align-items: center;
    padding: 5px;
}

.form-cntrl {
    padding: 15px 30px;
}

.textclock {
    padding: 3px;
}

.main>h3 {
    padding: 5px;
    text-align: center;
}

.formBtn {
    background-color: white;
    width: 100%;
    color: black;
    font-weight: 700;
    border: none;
}

.formBtn:hover {
    background-color: white !important;
    transform: translateY(-0.4px) !important;
    box-shadow: 0px 2px 8px 0px rgba(173, 173, 173, 0.43);
    background-color: rgb(102, 238, 108) !important;
    color: darkgreen;
}

#closeBtn {
    border: none;
    background-color: transparent;
    font-size: 25px;
    right: 10px;
}
#closeBtn:hover {
    color: #922A26;
    background-color: pink;
    border-radius: 5px;
   
}

/* media queries */

@media screen and (max-width:1000px){
    .main {
        width: 60%;
    }
}

@media screen and (max-width:900px){
    .main {
        width: 80%;
    }
}