#allitems{
    padding: 15px;
    background-color: #F9F9F9;
}
.filter-button-group a{
    text-decoration: none;
}
.filter-button-group p{
    font-size: 20px;
    text-decoration: none;
    color: #c16c18;
    text-align: center;
}
.isActive{
    -webkit-filter: brightness(32) invert(1);
    filter: brightness(11) invert(4);
    opacity: 0.7;
}
.product-grid{
    font-family: 'Asap', sans-serif;
    text-align: center;
}
.product-grid{
    margin-top: 35px;
    height: 400px;
    /* border: 3px solid #ddd; */
    border-radius: 5px;
    overflow: hidden;
    position: relative;
}
.product-grid:hover .product-image{ border-color: #693593; }
.product-grid .product-image a.image{ display: block; }
.product-grid .product-image img{
    margin: 10px;
    height: auto;
    width: 215px;
    transition: all 0.5s ease 0s;
}
.product-grid:hover .product-image img{ transform: scale(1.1); }
.product-grid .product-hot-label{
    color: #fff;
    background: #ff3859;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 48px;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    position: absolute;
    top: 10px;
    right: 10px;
}
/* .product-grid:hover .product-links{ opacity: 1; }
.product-grid .product-links li{
    padding: 0 10px;
    border-right: 1px solid rgba(255,255,255,0.5);
    display: inline-block;
} */

.shop{
    box-sizing: border-box;
    height: 44px;
    width: 216px;
    border: 1px solid #922A26;
    border-radius: 21.5px;
}

.shop:hover{
    height: 43px;
    width: 215px;
    background-color: #922A26;
    color: #FFFFFF;

}

.product-grid .product-content{ padding: 12px; }
.product-grid .title{
    font-size: 18px;
    font-weight: 700;
    text-transform: capitalize;
    margin: 0 0 10px;
}
.product-grid .title a{
    color: #333;
    transition: all 0.3s ease 0s;
}
.product-grid .title a:hover{ color: #333; }
.product-grid .price{
    color: #693593;
    font-size: 16px;
    font-weight: 500;
}

@media screen and (max-width: 990px){
    .product-grid{ margin: 0 0 30px; }
}

.disclaimer div{
    width: 30%;
    height: auto;
    border-radius: 7px;
    box-shadow: 1px 1px 20px #ccc;
    background: #f5f5f5;
    border-radius: 15px;
    color: #ffffff;
    margin: 20px 10px;
    padding: 0;
}

.disclaimer div img{
    width: 100%;
    height: 18rem;
    border-radius: 8px;
    border-top-left-radius: 15px; 
    border-top-right-radius: 15px;
    margin-bottom: 10px;
}

.disclaimer div h1{
    padding: 10px 10px 0px;
    font-size: 20px;
    font-weight: 700;
    color: #e4b95b;

}

.disclaimer div p{
    padding: 0 10px 0px;
    color: #959393;
    font-size: 15px;
}

.chartDiv{
    width: 25rem;
}
.chartDiv tr{
    margin-right: 15px;
    border-bottom: 1px solid #e5e5e5;
}
th, td {
    padding: 5px 13px;
    text-align: left;
}

tr:hover {background-color: #f5f5f5;}

.chartImg{
    width: 25px;
    height: 35px;
    margin: 5px 5px;
}
.product-isotope{
    margin: 7px;
    background-color: #FFFFFF;
    width: 31.3%;
    border-radius: 15px;
    height: auto;
}
