
body{
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    /* background: #c19a42; */
}


.container {
    margin: auto;
    width: 100%;
    max-width: 1180px;
    padding: 0 20px;

}
header{
    background-color:#c19a42;
    font-weight: 700;
    color: #fff;
    border-bottom:1px solid rgba(255,255,255,0.20);
}


.header-inner{
    display: flex;
    align-items: center;
    padding: 40px 0;
}

.header-inner nav ul{
    display: flex;
    margin: 0;
    padding: 0;
}

.header-menu{
    display: flex;
    margin-left: auto;
}
.header-logo {
    z-index: 99999;
}
.header-inner nav ul li {
    position: relative;
}
.links li a{
    text-decoration: none; 
    color: #fff; 
}

.links li{
    margin-right: 14px;
}

.links li:hover::after,
.links li:hover::before{
    width: 100%;
}


.links li::after,
.links li::before{
    left: 50%;
    bottom: 0;
    content: '';
    width: 0;
    height:2px;
    position: absolute;
    transform: translateX(-50%);
    background: #fff;
    transition: width .3s ease-in-out;
}


.header-phone{
    margin: 0 15px 0 16px;
   
}
.header-phone a{
  color:#fff;
   
}

.header-cart {
    position: relative;
    cursor: pointer;
}

.cart-inner a{
    position: relative;
}

.header-cart a,
.mob-cart a{
    color: #fff;
    width: 100px;
    border: 1px solid rgba(255,255,255,0.20) ;
    padding: 15px 30px;
    border-radius: 30px;
}

.header-menu .nav-logo {
    display: none;
}
.mob-phone,
.mob-cart {
    display: none;
}

.cart-wrap {
    display: none;
    position: absolute;
    right: -20px;
    padding-top: 25px;
    top: 100%;
    width: auto;
    z-index: 99999;
}
.header-cart:hover .cart-wrap {
    display: block;
}
.cart-empty {
    position: relative;
    background: #fff;
    min-width: 380px;
    padding: 40px 25px;
    color: #20202f;
    border-radius: 18px;
}
.cart-empty::before {
    content: '';
    position: absolute;
    top: -8px;
    right: 80px;
    display: inline-block;
    border-bottom: 8px solid #fff;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
}


/* Our values */
.comparison-head{
    font-size: 40px;
    font-weight: 800;
    color: #932a26;
}

.values-text{
    text-align: center;
    color: #959393;
}

/* .values-text p{
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: fit-content;
} */

.values-text p a{
    color: #932a26;
}

.values-text img{
    margin-bottom: 25px;
}

.comparison{
    margin-bottom: 35px;
}

.second-values{
    justify-content: center;
}
@media screen and (max-width:1060px){
    .header-inner {
        padding: 40px 80px;
    }
    .header-burger span, 
    .header-burger span:after, 
    .header-burger span:before {
        display: block;
        position: absolute;
        width: 30px;
        height: 5px;
        border-radius: 1px;
        background-color: #fff;
    }
    .header-burger {
        margin-left: 20px;
        display: flex;
        z-index: 11;
        position: relative;
        align-items: center;
        justify-content: center;
        width: 38px;
        height: 32px;
        background-color: transparent;
        cursor: pointer
    }

   

    .header-burger span,
    .header-burger span:after,
    .header-burger span:before {
        display: block;
        position: absolute;
        width: 30px;
        height: 5px;
        border-radius: 1px;
        background-color: #fff;
        transition: all .2s linear;
    }

    .header-burger span:before {
        top: -10px;
        content: ""
    }

    .header-burger span:after {
        bottom: -10px;
        content: ""
    }

    .header-burger.active span {
        transform: rotate(-45deg)
    }

    .header-burger.active span:before {
        top: 0;
        opacity: 0
    }

    .header-burger.active span:after {
       
        bottom: 0;
        transform: rotate(-90deg)
    }

    .header-menu  nav ul {
        opacity: 0;
        padding-top: 160px;
        padding-left: 20px;
        visibility: hidden;
        z-index: 9;
        position: fixed;
        top: 0;
        right: 0;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        width: 0;
        height: 100%;
        overflow: auto;
        transform: translateX(100%);
         transition: all .6s ease-out;
        background: #0a0b0b
    }

    .header-menu nav.active ul {
        width: 100%;
        opacity: 1;
        visibility: visible;
        -webkit-transform: translateX(0%);
        -ms-transform: translateX(0%);
        transform: translateX(0%);
    }
    
    .header-menu  .links li {
        font-size: 20px;
    }
    .header-menu  .links li:not(:last-child) {
       margin-right: 0;
       margin-bottom: 30px;
    }
}



@media only screen and (max-width:800px) {
     .header-phone,
     .header-cart {
        display: none;
    }
   
    .mob-phone,
    .mob-cart {
        cursor: pointer;
    display: block;
    }
    .mob-phone {
        border: 1px solid rgba(255,255,255,0.20) ;
        padding: 10px;
        border-radius: 12px;
        margin-bottom: 40px;
    }
    .mob-phone a{
       color: #fff;
       text-decoration: none;
    }
    
}


@media only screen and (max-width:600px){
    .header-inner {
        padding: 40px 0;
    }
}



