
body{
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    /* background: #c19a42; */
}


.container {
    margin: auto;
    width: 100%;
    max-width: 1180px;
    padding: 0 20px;

}

header{
    background-color:#c19a42;
    font-weight: 700;
    top: 0;
    z-index: 999;
    width: 100%;
    color: #fff;
    border-bottom:1px solid rgba(255,255,255,0.20);
    padding: 20px 0;
    transition: all .4s ease-in-out;
}

header.sticky {
    position: sticky;
    background-color: #2D2118;
    opacity: .9;
    padding: 20px 0;
    transition: all .4s ease-in-out;
}


.header-inner{
    display: flex;
    align-items: center;
   
}

.header-inner nav ul{
    display: flex;
    margin: 0;
    padding: 0;
}

.header-menu{
    display: flex;
    margin-left: auto;
}
.header-logo {
    z-index: 99999;
}
.header-inner nav ul li {
    position: relative;
}
.links li a{
    text-decoration: none; 
    color: #fff; 
}

.links li{
    margin-right: 14px;
}

.links li:hover::after,
.links li:hover::before{
    width: 100%;
}


.links li::after,
.links li::before{
    left: 50%;
    bottom: 0;
    content: '';
    width: 0;
    height:2px;
    position: absolute;
    transform: translateX(-50%);
    background: #fff;
    transition: width .3s ease-in-out;
}


.header-phone{
    margin: 0 15px 0 16px;
   
}
.header-phone a{
  color:#fff;
   
}

.header-cart {
    position: relative;
    cursor: pointer;
}

.cart-inner a{
    position: relative;
}

.header-cart a,
.mob-cart a{
    color: #fff;
    width: 100px;
    border: 1px solid rgba(255,255,255,0.20) ;
    padding: 15px 30px;
    border-radius: 30px;
}

.header-menu .nav-logo {
    display: none;
}
.mob-phone,
.mob-cart {
    display: none;
}

.cart-wrap {
    display: none;
    position: absolute;
    right: -20px;
    padding-top: 25px;
    top: 100%;
    width: auto;
    z-index: 99999;
}
.header-cart:hover .cart-wrap {
    display: block;
}
.cart-empty {
    position: relative;
    background: #fff;
    min-width: 380px;
    padding: 40px 25px;
    color: #20202f;
    border-radius: 18px;
}
.cart-empty::before {
    content: '';
    position: absolute;
    top: -8px;
    right: 80px;
    display: inline-block;
    border-bottom: 8px solid #fff;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
}

/* Main - Glass Represetation */
.glass-content{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.glass-content .textBox{
    max-width: 700px;
}

.glass-content .textBox h2{
    color: #333;
    font-size:2em;
    line-height: 1.4em;
    font-weight: 500;
}

.glass-content .textBox h2 span{
    font-weight: 900;
    color: #932a26;
    font-size: 45px;
}

.glass-content .textBox a{
    display: inline-block;
    text-decoration: none;
    background: #932a26;
    color: #fff;
    border-radius: 40px;
    margin-top: 20px;
    padding: 8px 20px;
    font-weight: 500;
}

.glass-content .imgBox{
    width: 600px;
    display: flex;
    justify-content: flex-end;
    margin-top: 50px;
}

.glass-content .imgBox img{
    max-width: 350px;
}

/* .thumb{
    position: absolute;
    left: 50%;
    bottom: 10px;
    transform: translateX(-50%);
    display: flex;
} */

.thumb{
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.thumb li{
    display: inline-block;
    margin: 0 5px;
    cursor: pointer;
    transition: 0.5s;
}
.thumb li img{
    max-width: 60px;
}

.thumb li:hover{
    transform: translateY(-15px);
}

.circle{
    background-color: #c19a42;
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    clip-path: circle(600px at right 800px);
}

.etinat{
    transform: rotate(345deg);
  }



/* Our values */
.compare-section {
    padding: 20px 0;
}
.comparison-head{
    font-size: 40px;
    font-weight: 800;
    color: #932a26;
}

.values-text{
    cursor: pointer;
    border: 1px solid transparent;
    padding: 20px;
    border-radius: 12px;
    text-align: center;
    color: #959393;
    transition: all .5s linear;
}
.values-text:hover {
    border: 1px solid #932A26;
    transform: translateY(-6px);
    box-shadow: 15px 14px 50px -12px rgb(171 171 171 / 90%);
}
.values-text:hover img {
    animation:  move 1s linear infinite alternate;
}
@keyframes move {
    100% {
        transform: rotate(-30deg);
    }
}

.values-text h4{
    color:#932a26;
    font-weight: 700;
    font-size: 22px;
}

/* .values-text p{
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: fit-content;
} */

.values-text p a{
    color: #932a26;
}

.values-text img{
    margin-bottom: 25px;
    width: 80px;
}

.comparison{
    margin-bottom: 35px;
}
.comparison > .row{
    margin: auto !important;
}

.comparison-quote{
    font-weight: 500;
    font-size: 20px;
    color: #816e6e;
}

.second-values{
    justify-content: center;
}

#more-button,
#less-button {
    height: 50px;
    background: #912A27;
    border: 1px solid transparent;
    color: #fff;
    padding: 12px 20px;
    border-radius: 12px;
    margin-top: 15px;
    margin-bottom: 30px;
}

#less-button {
    display: none;
}
.row.second-values{
    height: 0;
    opacity: 0;
    transform: scale(0);
    transition: all .4s ease-in-out;
}

.row.second-values.active {
    transform: scale(1);
    height: 450px;
    opacity: 1;

}

/* Awards */
.awards-gallery{
    color: #fff;
    background-image: url(https://www.filepicker.io/api/file/cEfyzmsTA2fmrJtLFw4w);
    background-size: cover;
    height: 450px;
    border-radius: 20px;
    opacity: 0.9;
    /* box-shadow: 3px 3px 5px 6px #ccc; */
}

.awards-text h1{
    font-size: 50px;
    font-weight: 500;
    text-align: center;
}

.awards{
    min-height: 600px;
}

.awards-text p{
    font-size: 17px;
    text-align: center;
    max-width: 350px;
    margin: auto;
    margin-bottom: 10px;

}

.awards-imgs{
    display: flex;
    justify-content: center;
    margin: auto;
}

/* Miracle Glass Hashtag */
.hashtag-text{
    text-align: center;
} 

.hashtag-text h3{
    color: #932a26;
    font-weight: 800;
    font-size: 30px;
}

.hashtag-text{
    color: #816e6e;
    font-weight: 500;
}

.hashtag {
    text-align: center;
}

.hashtag h2 {
    color: #932a26;
    font-size: 30px;
    font-weight: 800;
}

.hashtag p {
    color: #959393;
}

.hastag-gallery-imgs {
    width: 170px;
    height: 130px;
    border-radius: 15px;
    background-image: url(https://cdn-image.foodandwine.com/sites/default/files/1568907144/Coffee-National-Coffee-Day-FT-Blog0919.jpg);
    background-size: cover;
}

.hashtags {
    padding: 20px 0;
}
.hashtags-inner {
    padding: 30px 30px;
    display: flex;
    align-items: center;
}
.hashtag-card{
    width: 230px;
    height: 184px;
    border-radius: 15px;
    background-image: url(https://cdn-image.foodandwine.com/sites/default/files/1568907144/Coffee-National-Coffee-Day-FT-Blog0919.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}


.hashtags-inner .prev {
    transform: rotate(-180deg)
}

.hashtags-inner .prev,
.hashtags-inner .next {
    color: #c19a42;
    cursor: pointer;
    font-size: 40px;
    transition: color .3s ease-in-out;
}

.hashtags-inner .prev:hover,
.hashtags-inner .next:hover {
    color: #932a26;
    
}

.swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
}

.swiper-container{
    margin: 0 20px;
    
}
.swiper-pagination {
    position: initial;
}

.swiper-pagination-bullet {
    background-color: #c19a42;
}

.swiper-pagination-bullet {
    background-color: #c19a42;
}
.swiper-pagination-bullet-active {
    background-color: #932a26;
}

/* footer */

footer {
    background-color:#221817;
    color: white;
    position: relative;
    font-weight: bold;
    display: flex;
    align-items: center;
}
footer .row {
    margin: 0;
}
.footer-col {
    align-items: initial !important;
}
.footer-bottom {
    padding: 15px 0;
    width: 100%;
    background-color: #1D1313;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #B89777;    
    font-size: 14px;
}
.footer-bottom p {
    margin: 0;
    padding: 0;
}
.video{
    cursor: pointer;
    height: 110px;
    width: 212px;
    background-image: url(../images/cudologo.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    border:1px solid #B89777;
}

.video-backgrnd{
    width: 50px;
    height: 50px;
}


.footer-row{
    padding: 45px 60px;
    justify-content: center;
    /* align-items: center; */
}
.footer-inner {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.video-popup {
    display: none;
}


.video-popup, .video-backdrop {
    z-index: 2001;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.video-backdrop {
    width: 100vw;
    height: 100vh;
    background-color: rgba(4, 2, 16, .77);
}

.video-content {
    background: #000;
    z-index: 10000;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 560px;
    transform: translate(-50%, -50%);
    transform-origin: 0 0;
    border-radius: 15px;
    border: 1px solid transparent;
}
.video-content iframe {
    border-radius: 15px;
}

.contact-a{
    color: #fff;
}
.fa-facebook-f , .fa-instagram {
font-size: 30px;
margin-right: 5px;
}
.footer-heading{
    color: #B89777;
    font-weight: bold;
}

/* Contact Us */
.map{
    margin:auto;
    margin-top:30px;
    border:4px solid #932a26;
    border-radius: 12px;
}

.map iframe{
    border-radius: 12px;
    border:4px solid transparent;
}
.container-section{
    margin-top: 40px;
}

.contact-heading{
    text-align: center;
}

.contact-heading h2{
    font-size: 40px;
    font-weight: 800;
    color: #221817;
}

.contact-left h4{
    font-size: 20px;
    color: #221817;
    font-weight: 700;
}

.contact-form label{
    color: #C19A42;
    font-weight: 600;
}
.contact-left form input{
    width: 350px;
    height: 50px;
    border-radius: 20px;
    border: 1px solid rgb(202, 200, 200);
}

.opening-hours-table div{
    display: flex;
    justify-content: space-between;
}

.opening-hours-table div p{
    font-size: 15px;
    color:#959393;
}

.closed{
    color: #932a26 !important;
    font-weight: 600;
}

.request-proposal #message{
    height: 200px;
}


@media only screen and (max-width: 1200px) {
    .hashtag-card {
        width: 200px;
        height: 160px;
    }
}

@media screen and (max-width:1060px){
    
    .header-burger span, 
    .header-burger span:after, 
    .header-burger span:before {
        display: block;
        position: absolute;
        width: 30px;
        height: 5px;
        border-radius: 1px;
        background-color: #fff;
    }
    .header-burger {
        margin-left: 20px;
        display: flex;
        z-index: 11;
        position: relative;
        align-items: center;
        justify-content: center;
        width: 38px;
        height: 32px;
        background-color: transparent;
        cursor: pointer
    }

   

    .header-burger span,
    .header-burger span:after,
    .header-burger span:before {
        display: block;
        position: absolute;
        width: 30px;
        height: 5px;
        border-radius: 1px;
        background-color: #fff;
        transition: all .2s linear;
    }

    .header-burger span:before {
        top: -10px;
        content: ""
    }

    .header-burger span:after {
        bottom: -10px;
        content: ""
    }

    .header-burger.active span {
        transform: rotate(-45deg)
    }

    .header-burger.active span:before {
        top: 0;
        opacity: 0
    }

    .header-burger.active span:after {
       
        bottom: 0;
        transform: rotate(-90deg)
    }

    .header-menu  nav ul {
        opacity: 0;
        padding-top: 160px;
        padding-left: 20px;
        visibility: hidden;
        z-index: 9;
        position: fixed;
        top: 0;
        right: 0;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        width: 0;
        height: 100%;
        overflow: auto;
        transform: translateX(100%);
         transition: all .6s ease-out;
        background: #0a0b0b
    }

    .header-menu nav.active ul {
        width: 100%;
        opacity: 1;
        visibility: visible;
        -webkit-transform: translateX(0%);
        -ms-transform: translateX(0%);
        transform: translateX(0%);
    }
    
    .header-menu  .links li {
        font-size: 20px;
    }
    .header-menu  .links li:not(:last-child) {
       margin-right: 0;
       margin-bottom: 30px;
    }
}

@media only screen and (max-width:992px) {
    .row.second-values.active {
        height: 620px;
    }
    .hashtags-inner {
        padding: 30px 10px;
    }
    .hashtag-card {
        height: 160px;
    }
    .awards-text {
        padding: 30px 0;
    }
    .awards-gallery {
        height: 400px;
    }
    .footer-col:nth-child(1),
    .footer-col:nth-child(2){
        margin-bottom: 20px;
    }
    .footer-bottom {
        text-align: center;
    }

    
    .footer-row {
        padding: 40px 30px;
    }
}

@media only screen and (max-width:800px) {
    .row.second-values.active {
        height: 820px;
    }
    .hashtags-inner .prev,
    .hashtags-inner .next {
     display: none;
 }
    .awards-gallery {
        height: 300px;
    }
     .header-phone,
     .header-cart {
        display: none;
    }
   
    .mob-phone,
    .mob-cart {
        cursor: pointer;
    display: block;
    }
    .mob-phone {
        border: 1px solid rgba(255,255,255,0.20) ;
        padding: 10px;
        border-radius: 12px;
        margin-bottom: 40px;
    }
    .mob-phone a{
       color: #fff;
       text-decoration: none;
    }
    
}

@media only screen and (max-width:600px){
    .row.second-values.active {
        height: 1020px;
    }
    .awards-gallery {
        height: 200px;
    }
    
}



