*{
    margin: 0;
}
.container-benefit-head{
    background-image: url(../images/ceylontea2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 75vh;
}
.benefit-main {
    padding: 10px;
    width: 100%; 
}
.Benefit-header > h1 {
    font-weight: 700;
    font-size: 40px;
}

details {
    background-color: black;
    color: white;
    font-weight: bold;
    padding: 15px 10px;
    width: 100%;
    position: relative;
    border-radius: 10px;
    
}
details >summary {
    font-size: 20px;
    padding: 10px;
}

details > p {
    width: 100%;
    text-align: justify;
    left: 0;
    background-color:green;
    border:1px solid black;
    position: absolute;
    padding: 15px 20px;
    z-index: 1;
    height: 130px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.secondRowBenefit{
    margin-top: 15vh !important;
}
.Benefit-header >h1 {
    text-align: center;
}
